<!DOCTYPE html>
<html>

<head>
  <title>AI_prediction</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
      <h1 class="text-center">{{ session["name"] }} さんのタスク一覧</h1>
      <a href="{{ url_for('top') }}" class="btn btn-primary">戻る</a>
      <div class="card mt-4">
        <div class="card-body">
          {% for msg in errors %}
          <div id="error-message" class="text-danger mb-3">{{ msg }}</div>
          {% endfor %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>カテゴリ</th>
                <th>タイトル</th>
                <th>タスク名</th>
                <th>期日</th>
                <th>ステータス</th>
                <th class="text-danger">AI優先度（1~5）</th>
              </tr>
            </thead>
            <tbody>
              {% for todo_item in todos %}
              <tr>
                <td>{{ todo_item["category"] }}</td>
                <td>{{ todo_item["title"] }}</td>
                <td><a href="{{ url_for('show_detail', t_id=todo_item['id']) }}">{{ todo_item["content"] }}</a></td>
                <td>{{ todo_item["due_date"] }}</td>
                <td>{{ todo_item["status"] }}</td>
                <td class="font-weight-bold">{{ todo_item["importance"] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <div class="row m-5"></div>
<div class="fixed-bottom bg-dark py-2 text-center">
    <div class="container">
        <small class="text-white">© 2023  YUMA FUJITA
        </small>
    </div>
</div>
  
  </html>